In [1]:
import spacy

In [2]:
nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [8]:
doc = nlp("Tesla is going to acquire twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

$45 billion  |  MONEY  |  Monetary values, including unit

In [9]:
from spacy import displacy
displacy.render(doc, style="ent")

In [10]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", ent.start_char, "|", ent.end_char)

$45 billion  |  MONEY  |  38 | 49

In [11]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 5, 6, label="ORG")

doc.set_ents([s1, s2], default="unmodified")

In [12]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
twitter  |  ORG
$45 billion  |  MONEY

### Extract all Geographical Loc names from a text

In [13]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)


all_gpe_names = []

for ent in doc.ents:
    if ent.label_ == 'GPE':     
        all_gpe_names.append(ent)


print("Geographical loc Names: ", all_gpe_names)
print("Count: ", len(all_gpe_names))

Geographical loc Names:  [India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Bihar]
Count:  6

### Extracting Birth Dates of Cricketers from text

In [14]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)


all_birth_dates = []

for ent in doc.ents:
    if ent.label_ == 'DATE':     #checking the whether token belongs to entity "DATE" [Dates]
        all_birth_dates.append(ent)


print("All Birth Dates: ", all_birth_dates)
print("Count: ", len(all_birth_dates))

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]
Count:  4